@import 'mixins';
@import 'variables';

// Components
.title {
    @include respond-to(small) {
        font-size: $lg-font;
        font-weight: bold;
    }

    @include respond-to(medium) {
        font-size: $xl-font;
    }
}

.subtitle {
    @include respond-to(small) {
        font-size: $md-font;
        font-weight: bold;
    }

    @include respond-to(medium) {
        font-size: $xl-font;
    }
}

.flex-container {
    display: flex;
    gap: $base-spacing;
}