// Colors
$purple: #67357c;
$pink: #e05e76;
$gold: #f0b261;

// Spacing
$sm-spacing: 5px;
$base-spacing: 10px;
$md-spacing: 15px;
$lg-spacing: 20px;

// Font size
$sm-font: 10px;
$base-font: 12px;
$md-font: 14px;
$lg-font: 18px;
$xl-font: 24px;

// Radius
$sm-radius: 3px;
$base-radius: 5px;
$full-radius: 100%;