@use 'breakpoints' as *;
@use 'mixins' as *;
@use 'variables' as *;

.cv-container {
    display: flex;
    flex-direction: column;
    gap: $lg-spacing;
    box-shadow: $base-boxShadow;
    padding: $xl-spacing;
    border-radius: $lg-radius;
    background-color: white;
}

.cv-head {
    display: flex;
    flex-direction: column;
    gap: $lg-spacing;

    .cv-aboutme {
        display: flex;
        gap: $xl-spacing;
        justify-content: space-between;
    
        .cv-greetings {
            font-size: $lg-font;
        }
    
        .cv-title {
            @include text-gradient;
            font-size: $xxl-font;
            font-weight: bold;
        }
    
        .cv-data {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    
        .cv-img {
            min-width: 200px;
            width: 200px;
            height: 200px;
            border-radius: $full-radius;
            box-shadow: $base-boxShadow;
            overflow: hidden;
            background-image: url('/src/assets/images/profile.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    
        .cv-contact__list {
            display: flex;
            gap: $base-spacing $lg-spacing;
            flex-wrap: wrap;
    
            &__item {
                display: flex;
                gap: $base-spacing;
                font-size: $lg-font;
            }

            .icon {
                @include text-gradient;
                margin-right: $sm-spacing;
            }
        }
    
        .cv-slogan {
            font-size: $lg-font;
        }
    }
    
    .cv-desc {
        font-size: $lg-font;
    }
}

.cv-group {
    display: flex;
    flex-direction: column;
    gap: $md-spacing;

    &__title {
        width: 100%;
        @include text-gradient;
    
        &--text {
            font-size: $xl-font;
            &::after {
                content: '';
                display: block;
                width: 100%;
                height: 2px;
                background: $primary-gradient;
            }
        }
    }

    &__group {
        &__item {
            &--content {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
            }
    
            &--title {
                font-size: $lg-font;
                font-weight: bold;
                text-transform: uppercase;
            }

            &--list {
                display: flex;
                flex-wrap: wrap;
                margin-top: $md-spacing;
            }

            &--skill {
                padding: 0 $base-spacing;
                color: $gray-medium;
                border-right: 1px solid $gray-medium;

                &:first-of-type {
                    padding-left: 0;
                }

                &:last-of-type {
                    padding-right: 0;
                    border-right: 0;
                }
            }

            &--btn {
                @include sm-button;
            }
        }
    }
    
}



