.dropdown {
    position: relative;
  
    .dropdown-toggle {
      border: none;
    }
  
    .dropdown-content {
      display: none;
      width: 100%;
        
      &.active {
        display: block;
      }
    }
  }