@use 'variables' as *;
@use 'mixins' as *;

.nav {
    width: 100%;
    
    &-list {
        display: flex;
        justify-content: center;
        gap: $xl-spacing;

        &__item{
            font-size: $lg-font;
            text-transform: uppercase;
            cursor: pointer;

            a {
                text-decoration: none;
                color: $key;
                transition: color 0.3s ease, font-weight 0.3s ease;

                &:hover {
                    color: $pink_strong;
                    font-weight: bold;
                }
            }
        }
    }

    .active {
        color: $pink_strong;
        font-weight: bold;
    }
    
}